<%= form_tag pledge_payments_path(@pledge), id: "submission-form" do %>
  <%= hidden_field_tag :stripe_token %>
<% end %>

<h1>Make a Payment</h1>
<div class="text-danger" id="stripe-error-message"></div>
<%= form_tag "", id: "stripe-form" do %>
  <div class="form-group">
    <label for="card-number">Card Number</label>
    <input type="text" class="form-control" id="card-number" data-stripe="number">
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-12">
        <%= label_tag :card_expiry %>
      </div>
      <div class="col-md-3">
        <%= select_month(Date.today, {add_month_numbers: true},
                                     {id: "card-month",
                                      class: "form-control",
                                      data: {stripe: "exp-month"}}) %>
      </div>
      <div class="col-md-3">
        <%= select_year(Date.today, {start_year: Time.now.year,
                                     end_year: Time.now.year + 7},
                                     {id: "card-year",
                                      class: "form-control",
                                      data: {stripe: "exp-year"}}) %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag :cvc %>
      <%= text_field_tag :cvc, "", class: "form-control", data: {stripe: "cvc"} %>
    </div>
    <%= submit_tag "Make a Payment", class: "btn btn-primary" %>
  </div>

<% end %>
