<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Fund.sy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in? %>
  <%= current_user.full_name %>
  <%= link_to "Logout", sessions_path, method: :delete %>
<% else %>

<% end %>
<%#= flash || notice %>
<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% elsif flash[:alert] %>
  <div class="alert alert-danger"><%= flash[:alert] %></div>
<% end %>
<%= yield %>

</body>
</html>
